body{
    background-color: #F3F3F7;
}
div{
    background-color: #05A790;
}
.button {
    background-color: #05A790; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }